.verify{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    background-size: cover;
  }
  
  .verifyTitle {
    font-size: 25px;
  }
  
  .verifyForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .verifyForm > label {
    margin: 10px 0;
  }
  
  .verifyInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .verifyButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }